
.title{
  padding:15px;
  text-align: center;
  color:#708090;
}

hr{
  border:1px dotted #B0C4DE;
  border-radius:5px;
  margin:10px;
}

nav{
  font-size:13px;
  padding:10px;
  margin-bottom:10px;
}

.img{
  position:relative;
  display:inline-block;
  width:100%;
}

p{
  font-size:1.2em;
  width:100%;
}


img:hover{
  width:50%;
  position:absolute;
  z-index:4;
  float:left;
  background-color:white;

}

li{
  font-size:1.4em;
}

.navDec {
  position:relative;
  color:rgb(112,128,144);
  font-size:1.5em;
  text-shadow: rgba(0,0,1) -1px -1px 1px;
  padding:10px;
  transition: all 1.2s;
}
.navDec:hover{
  rgb(92,75,57);
  font-size:2.1em;
  top:-20px;
  left:12px;
  text-shadow:rgba(0,0,0.2) 8px 8px 5px;
}

aside{
  float:right;
  margin: 0 1%;
  width:25%;
}

section{
  width:75%;
}

h3{
  font-size:12px;
  font-weight:normal;
}
